[submodule "external/x64/openjdk.bin"]
	path = external/x64/openjdk.bin
	url = ../../cloudius-systems/openjdk.bin
	ignore = dirty
[submodule "external/x64/gcc.bin"]
	path = external/x64/gcc.bin
	url = https://github.com/cloudius-systems/gcc.bin
	ignore = dirty
[submodule "external/x64/glibc.bin"]
	path = external/x64/glibc.bin
	url = https://github.com/cloudius-systems/glibc.bin
	ignore = dirty
[submodule "external/x64/glibc-testsuite"]
	path = external/x64/glibc-testsuite
	url = https://github.com/cloudius-systems/glibc-testsuite
	ignore = dirty
[submodule "external/x64/acpica"]
	path = external/x64/acpica
	url = https://github.com/cloudius-systems/acpica
	ignore = dirty
[submodule "external/x64/misc.bin"]
	path = external/x64/misc.bin
	url = https://github.com/cloudius-systems/misc.bin.git
	ignore = dirty
[submodule "mgmt"]
	path = mgmt
	url = ../../cloudius-systems/mgmt.git
	ignore = dirty
[submodule "apps"]
	path = apps
	url = ../../cloudius-systems/osv-apps
	ignore = dirty
[submodule "external/acpica"]
	path = external/acpica
	url = https://github.com/cloudius-systems/acpica
[submodule "external/gcc.bin"]
	path = external/gcc.bin
	url = https://github.com/cloudius-systems/gcc.bin
[submodule "external/glibc-testsuite"]
	path = external/glibc-testsuite
	url = https://github.com/cloudius-systems/glibc-testsuite
[submodule "external/glibc.bin"]
	path = external/glibc.bin
	url = https://github.com/cloudius-systems/glibc.bin
[submodule "external/libunwind"]
	path = external/libunwind
	url = https://github.com/cloudius-systems/libunwind
[submodule "external/misc.bin"]
	path = external/misc.bin
	url = https://github.com/cloudius-systems/misc.bin.git
